{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block body %}
    <div class="abouttodo">
        <div class="container" style="width:65%;">
            <h2 class="h2 pt-5 pb-3" style="text-align:center;text-shadow: 2px 2px 3px rgb(65, 65, 65);"><b>ABOUT TODO WEBSITE</b></h2>
        <div > 
            <p class="todo_web">
                This Todo website can Add, Update, Delete your tasks that you add in daily Todo list. This is a todo web application. By using this website we can add our daily task into this todo website.
           </p>
        </div>
    
        <h2 class="h2 pt-5 pb-3" style="text-align: center;text-shadow: 2px 2px 3px rgb(65, 65, 65);"><b>What is a ToDo List?</b></h2>
        <div > 
            <p class="todo_web">
                What is a ToDo List? The definition is a simple one. It's a list of tasks you need to complete or things that you want to do. 
            </p>
            <p class="todo_web">
                Most typically, they're organised in order of priority. Traditionally, they're written on a piece of paper or post it notes and act as a memory aid. As technology has evolved we have been able to create a todo lists with excel spreadsheets, word documents, email lists, todo list apps, Microsoft to do and google to do list to name a few. You can use a to do list in your home and personal life, or in the workplace.
            </p>
            <p class="todo_web">
                Having a list of everything you need to do written down in one place means you shouldn't forget anything important. By prioritising the tasks in the list you plan the order in which you’re going to do them and can quickly see what needs your immediate attention and what tasks you can leave until a little later.
           </p>
        </div>
    
        <h2 class="h2 pt-5 pb-3" style="text-align: center;text-shadow: 2px 2px 3px rgb(65, 65, 65);"><b>The Benefits of Using a To Do List</b></h2>
        <p class="todo_web">
            One of the most important reasons you should use a to do list is that it will help you stay organised. When you write all your tasks in a list, they seem more manageable. When you’ve got a clear outline of the tasks you’ve got to do and those you’ve completed, it helps you stay focused. While freeing up space in your mind for other more creative tasks.
        </p>
        <p class="todo_benefit">
            <b>But that’s not the only benefit of a to do list. Here are a few more:</b>
        </p>
        <p class="todo_benefit">
           <b>Improves your memory:</b> A to do list acts as an external memory aid. It’s only possible to hold a few pieces of information at one time. Keep a to do list and you’ll be able to keep track of everything, rather than just a few of the tasks you need to do. Your to do list will also reinforce the information, which makes it less likely you’re going to forget something.
        </p>
        <p class="todo_benefit">
            <b>Increases productivity:</b> A to do list allows you to prioritize the tasks that are more important. This means you don’t waste time on tasks that don’t require your immediate attention. Your list will help you stay focused on the tasks that are the most important.
        </p>
        <p class="todo_benefit">
            <b>Helps with motivation:</b> To do lists are a great motivational tool because you can use them to clarify your goals. You can divide your long-term goal into smaller, more achievable short-term goals and as you tick each one off your list, your confidence will increase.
        </p>
        </div>
    </div>
    

{% endblock body %}